@import "~styles/modules/mixins.scss";

.accessibility-skipToContent-visual {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;

  .tabs {
    order: 2;
    box-shadow: var(--myqr-img-container-shadow);
  }
}

.img-skipToContent {
  position: relative;
  overflow: hidden;
  border-radius: 0.2rem var(--img-border-radius) var(--img-border-radius)
    var(--img-border-radius);
  box-shadow: var(--myqr-img-container-shadow);

  @include breakpoint(0, 799.99) {
    max-width: 80%;
    margin: 0 auto;
  }

  @include breakpoint(800) {
    min-width: 40rem;
  }
}

.accessibility-skipToContent-img {
  height: auto;

  &:first-of-type {
    width: 100%;
  }

  &:nth-of-type(2) {
    position: absolute;
    width: 40%;
    top: 0;
    left: 0;
    opacity: 0;
    border-radius: 0.2rem 0 0.4rem 0;
    transition: all 500ms ease;
  }
}

.tabs-activeTab-1 {
  & + div[role="tabpanel"] {
    .accessibility-skipToContent-img:nth-of-type(2) {
      @include prefix(transform, translateY(-10px * 2));
      opacity: 0;
    }
  }
}

.tabs-activeTab-2 {
  & + div[role="tabpanel"] {
    .accessibility-skipToContent-img:nth-of-type(2) {
      @include prefix(transform, translateY(0));
      opacity: 1;
    }
  }
}
