html {
  font-size: 62.5%;
}

body {
  -webkit-font-smoothing: antialiased;
}

html,
body,
#root {
  height: 100%;
}

/* Hide Create React App warnings overlay */
#webpack-dev-server-client-overlay {
  display: none;
}

/* Text meant only for screen readers */
.screenReaderText {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}
