html {
  font-size: 62.5%;
}

body {
  -webkit-font-smoothing: antialiased;
}

html,
body,
#root {
  height: 100%;
}

/* Hide Create React App warnings overlay */
#webpack-dev-server-client-overlay {
  display: none;
}

::-moz-selection {
  /* Code for Firefox */
  color: var(--white);
  background: var(--primary);
}

::selection {
  color: var(--white);
  background: var(--primary);
}
