@import "~styles/modules/placeholders.scss";

h1 {
  line-height: 140%;
  color: var(--text);

  @include breakpoint(0, 1199.98) {
    font-size: 3.2rem;
  }

  @include breakpoint(1200) {
    font-size: 4rem;
  }
}

a {
  cursor: pointer;
  text-decoration: none;
  color: currentColor;

  @include removeFocusOutline;

  svg path {
    fill: currentColor;
  }
}

.smaller {
  font-size: 0.8em;
}

.underline-link {
  --underline-color: currentColor;
  border-bottom: 0.08em solid currentColor;

  @extend %link-with-underline;

  @include onHoverAndFocus {
    &::after {
      opacity: 1;
    }
  }
}

abbr[title] {
  --underline-hover-color: currentColor;
  position: relative;
  text-decoration: none;

  &::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0.1em;
    border-top: 0.1em dotted currentColor;
  }

  @include onHoverAndFocus {
    &::after {
      border-color: var(--underline-hover-color);
    }
  }
}

.regular {
  font-weight: var(--font-weight-regular);
}

.medium {
  font-weight: var(--font-weight-medium);
}

.semibold {
  font-weight: var(--font-weight-semibold);
}

.bold {
  font-weight: var(--font-weight-bold);
}

.icon-goToLink {
  height: auto;

  .arrowIcon-circle {
    transition: stroke-dashoffset 500ms ease;
    stroke-dasharray: 1500;
    stroke-dashoffset: 1500;
  }
}

p,
label:not(.form-label) {
  @extend %paragraph;
  color: var(--text-light);

  @include breakpoint(0, 1199.98) {
    font-size: 1.8rem;
  }

  @include breakpoint(1200) {
    font-size: 2.4rem;
  }
}

p {
  line-height: 180%;
}

h1 {
  @extend %paragraph;
}

h2 {
  @extend %paragraph;
  line-height: 140%;
  color: var(--text);

  @include breakpoint(0, 1199.98) {
    font-size: 2.4rem;
  }

  @include breakpoint(1200) {
    font-size: 3.2rem;
  }
}

h3 {
  @extend %paragraph;
  line-height: 140%;
  color: var(--primary);

  @include breakpoint(0, 1199.98) {
    font-size: 2rem;
  }

  @include breakpoint(1200) {
    font-size: 2.8rem;
  }
}

h5 {
  @extend %paragraph;
  font-size: 2rem;
  line-height: 180%;
  text-transform: uppercase;
  color: var(--primary);
}

code {
  font-family: var(--type-code);
  font-weight: var(--font-weight-medium);
  padding: 0 0.8rem;

  @include breakpoint(0, 1199.98) {
    font-size: 1.4rem;
  }

  @include breakpoint(1200) {
    font-size: 1.6rem;
  }
}

dd {
  @extend %paragraph;
  line-height: 180%;
  color: var(--text-light);

  @include breakpoint(0, 1199.98) {
    font-size: 2rem;
  }

  @include breakpoint(1200) {
    font-size: 2.4rem;
  }
}

dt {
  @extend %paragraph;
  font-size: 1.6rem;
  color: var(--text);
  font-weight: var(--font-weight-semibold);
}

.underline-link {
  @include onFocus {
    color: var(--primary);
  }
}

.new-tab-link {
  --arrow-bg-color: var(--gray-200);
  --arrow-pointer-color: var(--gray-400);
  --arrow-bg-color-hover: var(--primary-light);
  --arrow-pointer-color-hover: var(--primary);
}

abbr[title] {
  --underline-hover-color: var(--primary);
}
