@import "~styles/modules/placeholders.scss";

h1 {
  // @extend %myqr-paragraph;
  line-height: 140%;
  color: var(--text);

  @include breakpoint(0, 1199.98) {
    font-size: 3.2rem;
  }

  @include breakpoint(1200) {
    font-size: 4rem;
  }
}

a {
  cursor: pointer;
  text-decoration: none;
  color: currentColor;

  @include removeFocusOutline;

  svg path {
    fill: currentColor;
  }
}

.smaller {
  font-size: 0.8em;
}

.underline-link {
  --underline-color: currentColor;
  border-bottom: 0.08em solid currentColor;

  @extend %link-with-underline;

  @include onHoverAndFocus {
    &::after {
      opacity: 1;
    }
  }
}

abbr[title] {
  --underline-hover-color: currentColor;
  position: relative;
  text-decoration: none;

  &::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0.1em;
    border-top: 0.1em dotted currentColor;
  }

  @include onHoverAndFocus {
    &::after {
      border-color: var(--underline-hover-color);
    }
  }
}

.italic {
  font-style: italic;
  font-family: "Cormorant Garamond", serif;
}

.regular {
  font-weight: var(--font-weight-regular);
}

.medium {
  font-weight: var(--font-weight-medium);
}

.bold {
  font-weight: var(--font-weight-bold);
}

.icon-goToLink {
  height: auto;

  .arrowIcon-circle {
    transition: stroke-dashoffset 500ms ease;
    stroke-dasharray: 1500;
    stroke-dashoffset: 1500;
  }
}
