@import "~styles/modules/mixins.scss";

#accessibility-prefersReducedMotion-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: calc(#{var(--preview-size)} * 3);
  margin: 0 auto;
  gap: var(--grid-gap);

  @include breakpoint(0, 799.98) {
    --preview-size: 28rem;
    --grid-gap: 3.2rem;

    flex-direction: column;
  }

  @include breakpoint(800, 1199.98) {
    --preview-size: 28rem;
    --grid-gap: 2.4rem;
  }

  @include breakpoint(1200) {
    --preview-size: 48rem;
    --grid-gap: 0.8rem;
  }

  .accessibility-prefersReducedMotion {
    @include breakpoint(0, 799.98) {
      // --colors-gap: 1.2rem;
    }

    @include breakpoint(800) {
      &:nth-of-type(-n + 2) {
        transform: translateX(20%);
      }

      &:nth-of-type(n + 3) {
        transform: translateX(-20%);
        margin-top: 8rem;
      }
    }

    code {
      max-width: var(--preview-size);
    }
  }
}

.accessibility-prefersReducedMotion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--grid-gap);

  @include breakpoint(0, 799.98) {
    --grid-gap: 0.8rem;
  }

  @include breakpoint(800) {
    --grid-gap: 4rem;
  }
}

.accessibility-prefersReducedMotion-preview {
  position: relative;
  width: var(--preview-size);
  padding-bottom: 100%;
  background-color: var(--myqr-bg-light);
  border: 4px solid var(--white);
  border-radius: 8px;
  box-shadow: var(--myqr-img-shadow);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 100% 0;

  & > * {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .accessibility-prefersReducedMotion-preview-img {
    --img-width: var(--preview-size);
    --img-height: calc((381 / 612) * #{var(--preview-size)});
    max-width: var(--img-width);
    height: auto;

    &#accessibility-prefersReducedMotion-preview-img-reduce {
      animation: modalAnimationReduced 4s infinite linear;
    }

    &#accessibility-prefersReducedMotion-preview-img-noPreference {
      animation: modalAnimationEnabled 4s infinite linear;
    }
  }
}

code {
  line-height: 160%;

  .comment {
    color: var(--myqr-gray-400);
    display: block;
    margin-bottom: 1.2rem;
  }

  .highlighted {
    color: var(--myqr-primary);
  }
}

.circleLoader {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: var(--myqr-primary);
  border-right-color: var(--myqr-primary);
  border-bottom-color: var(--myqr-primary);
  transform: translateZ(0);
  animation: loader 1.1s infinite linear;
  transition: opacity 300ms ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes modalAnimationReduced {
  0% {
    opacity: 1;
  }
  79% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes modalAnimationEnabled {
  0% {
    opacity: 1;
    transform: translate(
      calc(#{var(--img-width)} / -2),
      calc(#{var(--img-height)} / -2)
    );
  }
  70% {
    opacity: 1;
    transform: translate(
      calc(#{var(--img-width)} / -2),
      calc(#{var(--img-height)} / -2)
    );
  }
  80% {
    opacity: 0;
    transform: translate(
      calc(#{var(--img-width)} / -2),
      calc(#{var(--img-height)} * -0.7)
    );
  }
  90% {
    opacity: 0;
    transform: translate(
      calc(#{var(--img-width)} / -2),
      calc(#{var(--img-height)} * -0.3)
    );
  }
  100% {
    opacity: 1;
    transform: translate(
      calc(#{var(--img-width)} / -2),
      calc(#{var(--img-height)} / -2)
    );
  }
}
