$steps: 4;

.img-modularItem {
  --img-border-radius: var(--border-radius-md);

  .imgWrapper {
    overflow: hidden;
    background-color: var(--myqr-bg-light);
    border-radius: var(--img-border-radius);
    box-shadow: var(--myqr-img-container-shadow);
    position: relative;

    .img-modularItem-choice {
      transition: opacity 300ms ease-in-out;

      &:nth-of-type(1) {
        max-width: var(--max-width-productimages);
      }

      &:not(:nth-of-type(1)) {
        position: absolute;
        width: 100%;
        height: auto;
        top: 0;
        left: 0;
      }
    }
  }

  @for $i from 1 through $steps {
    &.img-hasStepAnimation-step#{$i} {
      .img-modularItem-choice {
        &:not(:nth-of-type(1)):not(:nth-of-type(#{$i + 1})) {
          opacity: 0;
        }
      }
    }
  }
}
