@import "~styles/modules/functions.scss";

$link: #ed5497;
$link-rgb: hexToRGB($link);

:root {
  // Colors
  --white: #ffffff;
  --light-gray: #f5f7fb;
  --text: #5e5252;
  --text-light: #856b6b;
  --link: #{$link};
  --link-rgb: #{$link-rgb};
  --link-sm: #833deb;

  // Typography
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  // TODO: Add fallback fonts
  --type-paragraph: "IBM Plex Sans", sans-serif;
  --type-code: "Ubuntu Mono", monospace;
  // Use a monospace font for numbers
  --type-numbers: "Azeret Mono", monospace;
}
