@import "~styles/modules/mixins.scss";

.mobileMock-wrapper {
  overflow: hidden;
  width: 24rem;
  box-shadow: var(--container-shadow-md);
  background-color: var(--myqr-bg-light);
  position: relative;

  & > img {
    width: 100%;
    height: auto;
  }

  @include breakpoint(0, 799.98) {
    border-radius: 1.2rem;
    box-shadow: 0px 0px 0px 0.4rem var(--white);
  }

  @include breakpoint(800) {
    border-radius: 2.4rem;
    box-shadow: 0px 0px 0px 0.8rem var(--white);
  }
}
