@import "~styles/modules/mixins.scss";

$transition-duration: 200ms;

.radio-container {
  display: block;
  position: relative;
  padding-left: 3.2rem;
  font-size: 1.8rem;
  line-height: 2.4rem;
  cursor: pointer;
  user-select: none;

  @include breakpoint(0, 799.98) {
    margin-bottom: 0.8rem;
  }

  @include breakpoint(800) {
    margin-bottom: 1.6rem;
  }

  &:hover {
    input {
      & ~ .radio-checkmark {
        box-shadow: 0 0 0 0.4rem rgba(#{var(--primary-rgb)}, 0.1);

        &:after {
          opacity: 1;
        }
      }

      &:not(:checked) ~ .radio-checkmark {
        background-color: var(--primary-light);
      }
    }
  }

  /* Hide the browser's default radio button */
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;

    &:checked {
      & ~ .radio-checkmark {
        background-color: var(--text-light);

        &:after {
          opacity: 1;
        }
      }
    }

    @include onKeyboardFocus {
      & ~ .radio-checkmark {
        border-color: var(--primary);
        box-shadow: 0 0 0 0.4rem rgba(var(--primary-rgb), 0.3);
      }

      &:checked {
        & ~ .radio-checkmark {
          background-color: var(--primary);
        }
      }

      &:not(:checked) {
        & ~ .radio-checkmark:after {
          opacity: 1;
          background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.639 7.60372L9.781 14.8782L7.27772 12.1952C7.14734 12.0846 6.93873 12.0846 6.83443 12.1952L6.07823 12.9973C5.97392 13.108 5.97392 13.3293 6.07823 13.4676L9.57239 17.1463C9.70277 17.2846 9.8853 17.2846 10.0157 17.1463L17.8385 8.8484C17.9428 8.73776 17.9428 8.51649 17.8385 8.37819L17.0822 7.60372C16.9779 7.46543 16.7693 7.46543 16.639 7.60372Z' fill='%233365ff'/%3E%3C/svg%3E%0A");
        }
      }
    }
  }

  .radio-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 2.4rem;
    width: 2.4rem;
    border: 1px solid var(--gray-400);
    border-radius: 50%;
    transition: all $transition-duration ease;

    &:after {
      content: "";
      position: absolute;
      display: block;
      opacity: 0;
      width: 100%;
      height: 100%;
      inset: 0;
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.639 7.60372L9.781 14.8782L7.27772 12.1952C7.14734 12.0846 6.93873 12.0846 6.83443 12.1952L6.07823 12.9973C5.97392 13.108 5.97392 13.3293 6.07823 13.4676L9.57239 17.1463C9.70277 17.2846 9.8853 17.2846 10.0157 17.1463L17.8385 8.8484C17.9428 8.73776 17.9428 8.51649 17.8385 8.37819L17.0822 7.60372C16.9779 7.46543 16.7693 7.46543 16.639 7.60372Z' fill='white'/%3E%3C/svg%3E%0A");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      transition: opacity $transition-duration ease;
    }
  }
}
