@import "~CaseStudy/styles/placeholders.scss";
@import "~styles/modules/mixins.scss";

.text-isFullScreen {
  position: relative;

  .new-tab-link {
    svg {
      path[fill="#EAF0F5"] {
        fill: rgba(var(--myqr-text-rgb), 0.2);
      }

      .icon-arrow {
        path {
          fill: var(--myqr-text);
        }
      }
    }

    @include onFocus {
      svg {
        path[fill="#EAF0F5"] {
          fill: rgba(var(--myqr-primary-rgb), 0.4);
        }
      }
    }
  }
}

.nextPage-link {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;

  & ~ p,
  & ~ h1 {
    position: relative;
    z-index: 2;
    pointer-events: none;
  }

  & ~ h1 {
    span {
      display: inline-block;
      transition: transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
    }

    &:before {
      content: "";
      position: absolute;
      width: 3.2rem;
      height: 1px;
      background: currentColor;
      top: calc(100% + 1.6rem);
      left: 50%;
      transform-origin: 50% 100%;
      transform: translate3d(-50%, 2px, 0);
      transition: clip-path 0.3s, transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
      clip-path: polygon(
        0% 0%,
        0% 100%,
        0 100%,
        0 0,
        100% 0,
        100% 100%,
        0 100%,
        0 100%,
        100% 100%,
        100% 0%
      );
    }
  }

  @include onHoverAndTouch {
    & ~ h1 {
      span {
        transform: translate3d(0, -2px, 0);
      }

      &:before {
        transform: translate3d(-50%, 2px, 0) scale3d(1.08, 3, 1);
        clip-path: polygon(
          0% 0%,
          0% 100%,
          50% 100%,
          50% 0,
          50% 0,
          50% 100%,
          50% 100%,
          0 100%,
          100% 100%,
          100% 0%
        );
      }
    }
  }
}
