@import "~styles/modules/animations.scss";

.desktopMock-wrapper {
  overflow: hidden;
  border-radius: var(--border-radius-md);
  width: var(--image-width);
  max-width: var(--max-text-width);
  box-shadow: var(--container-shadow-md);

  .desktopMock-browserBar {
    width: 100%;
    height: auto;
  }

  .desktopMock-screen {
    position: relative;
    /* aspect-ratio doesn't work on old Safari
    versions so we need to use good old padding-top here
    https://ontopmarketing.agency/css-aspect-ratio-calculator/ */
    // aspect-ratio: 1126 / 698;
    padding-bottom: 61.98934280639432%;
    background-color: var(--myqr-bg-light);

    .slide {
      position: absolute;
      width: 100%;
      transition: all 100ms ease-in;

      .desktopMock-modal {
        position: absolute;
        inset: 0;
        z-index: 3;
      }
    }

    img {
      width: 100%;
      height: auto;
    }

    &.desktopMock-screen-hasOverlay {
      &::after {
        position: absolute;
        content: "";
        display: block;
        inset: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.3);
        z-index: 2;
        pointer-events: none;
        opacity: 0;
        animation: fadeIn 0.5s 0.2s ease;
        animation-fill-mode: forwards;
      }
    }
  }
}

.imgContainer-isFullScreen[data-bg="dark"] {
  .desktopMock-wrapper {
    box-shadow: none;
  }
}
