@import "~styles/modules/mixins.scss";

.form-switch {
  --switch-container-width: 4.8rem;
  --switch-indicator-height: 2.4rem;
  --switch-padding: 0.2rem;

  display: flex;
  align-items: center;
  gap: 1.2rem;

  .form-switch-input {
    position: relative;

    box-sizing: border-box;
    outline: none !important;
    appearance: none;
    color-adjust: exact;
    cursor: pointer;
    border: none;

    background-color: #868d9e;
    background-image: linear-gradient(
      96.07deg,
      hsla(0, 0%, 100%, 0.3),
      hsla(0, 0%, 100%, 0)
    );
    border-radius: var(--switch-container-width);
    background-size: cover;
    height: calc(var(--switch-indicator-height) + var(--switch-padding) * 2);
    width: var(--switch-container-width);
    transition: background 0.1s ease-in-out;
    --focus-color: 51, 101, 255;

    &:checked {
      background-color: var(--myqr-primary);

      &::after {
        transform: translateY(-50%)
          translateX(
            calc(
              var(--switch-container-width) - var(--switch-padding) * 2 -
                var(--switch-indicator-height)
            )
          );
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.639 5.10372L7.781 12.3782L5.27772 9.69521C5.14734 9.58458 4.93873 9.58458 4.83443 9.69521L4.07823 10.4973C3.97392 10.608 3.97392 10.8293 4.07823 10.9676L7.57239 14.6463C7.70277 14.7846 7.8853 14.7846 8.01568 14.6463L15.8385 6.3484C15.9428 6.23776 15.9428 6.01649 15.8385 5.87819L15.0822 5.10372C14.9779 4.96543 14.7693 4.96543 14.639 5.10372Z' fill='%233365FF'/%3E%3C/svg%3E%0A");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
      }
    }

    &::after {
      display: block;
      content: "";
      background: white;
      width: var(--switch-indicator-height);
      height: var(--switch-indicator-height);
      top: 50%;
      transform: translateY(-50%);
      left: var(--switch-padding);
      border-radius: 50%;
      position: absolute;
      transition: all 0.1s ease-in-out;
    }

    @include onKeyboardFocus {
      box-shadow: 0 0 0 0.4rem rgba(var(--myqr-primary-rgb), 0.3);
    }
  }
}
