@import "~styles/modules/mixins.scss";

.imgSlider {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;

  img {
    // Remove pointer events on images to help with dragging
    pointer-events: none;
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }

  @include breakpoint(0, 1199.98) {
  }

  @include breakpoint(1340) {
    flex-direction: column;
  }
}

.imgContainer-isFullScreen {
  gap: var(--img-container-gap);

  @include breakpoint(0, 799.98) {
    --img-container-gap: 1.6rem;
  }

  @include breakpoint(800) {
    --img-container-gap: 4rem;
  }

  .imgSlider {
    gap: var(--img-container-gap);
  }

  .listItem {
    text-align: center;

    @include breakpoint(0, 799.98) {
      margin: 0;
    }
  }
}

.imgContainer-isFullScreen[data-bg="dark"] {
  .imgSlider-button {
    .imgSlider-button-text {
      color: var(--myqr-primary-light);
    }

    circle {
      &[stroke="#fff"] {
        stroke: var(--myqr-primary-light);
        stroke-opacity: 0.2;
      }
    }

    @include onHoverAndFocus {
      path {
        fill: var(--myqr-primary-light);
      }
    }
  }
}

/* If the background is the same as the page's, 
remove padding on mobile since it just looks like spacing */
$image-backgrounds: "dark", "light";

@include breakpoint(0, 799.98) {
  .imgContainer-isFullScreen[data-bg="none"] {
    padding-bottom: 0;

    &:not(.imgContainer-isSlider) {
      padding-top: 0.8rem;
    }
  }

  @each $image-background in $image-backgrounds {
    .caseStudyPage-bg[data-theme="#{$image-background}"] {
      &
        ~ .caseStudyPage
        .imgContainer-isFullScreen[data-bg="#{$image-background}"] {
        padding-bottom: 0;

        &:not(.imgContainer-isSlider) {
          padding-top: 0.8rem;
        }
      }
    }
  }
}
