@import "~styles/modules/mixins.scss";

.imgContainer-projectPreview {
  padding: 0;
  overflow: hidden;

  @media (max-height: 679.99px) {
    --container-min-height: 80vh;

    .imgWrapper-projectPreview {
      transform: scale(1.2) rotate(-12deg);
    }
  }

  @media (min-height: 680px) {
    --container-min-height: 120vh;

    .imgWrapper-projectPreview {
      transform: rotate(-12deg);
    }
  }

  .imgWrapper-projectPreview {
    width: 100%;
  }

  img {
    width: calc((1980 / 1440) * 100%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    will-change: transform;
  }
}
