@import "~styles/modules/mixins.scss";

.img-productImages {
  @include breakpoint(0, 799.99) {
    --img-container-gap: 0.8rem;
  }

  @include breakpoint(800) {
    --img-container-gap: 1.6rem;
  }

  .imgWrapper {
    border-radius: var(--img-border-radius);
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    padding: var(--img-padding);
    box-shadow: var(--myqr-img-shadow);
    gap: var(--img-padding);

    img {
      width: 100%;
      height: auto;
    }

    .img-productImages-img {
      overflow: hidden;
      border-radius: calc(0.4 * #{var(--border-radius-md)});
      background-color: var(--myqr-gray-100);
      background-image: url("data:image/svg+xml,%3Csvg width='512' height='512' viewBox='0 0 512 512' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M416 64H96C79.0318 64.0185 62.7639 70.7673 50.7656 82.7656C38.7673 94.7639 32.0185 111.032 32 128V384C32.0183 400.968 38.767 417.236 50.7653 429.235C62.7637 441.233 79.0317 447.982 96 448H416C432.968 447.982 449.237 441.233 461.235 429.235C473.233 417.237 479.982 400.968 480 384V128C479.981 111.032 473.233 94.7639 461.234 82.7656C449.236 70.7673 432.968 64.0185 416 64V64ZM336 128C345.494 127.999 354.775 130.814 362.669 136.088C370.563 141.362 376.716 148.859 380.349 157.63C383.982 166.401 384.932 176.053 383.08 185.364C381.227 194.676 376.655 203.228 369.941 209.941C363.228 216.654 354.675 221.225 345.364 223.077C336.053 224.93 326.402 223.979 317.631 220.346C308.86 216.713 301.364 210.561 296.09 202.667C290.815 194.774 288 185.493 288 176C288.013 163.274 293.075 151.072 302.073 142.073C311.072 133.075 323.274 128.013 336 128ZM96 416C91.7976 416 87.6363 415.173 83.7537 413.565C79.8711 411.957 76.3433 409.6 73.3717 406.628C70.4002 403.657 68.0431 400.129 66.4351 396.246C64.827 392.364 63.9996 388.202 64 384V316.37L158.84 232.07C167.991 223.955 179.891 219.634 192.116 219.987C204.342 220.34 215.973 225.341 224.64 233.97L289.59 298.78L172.37 416H96ZM448 384C448 388.202 447.172 392.363 445.564 396.246C443.956 400.128 441.599 403.656 438.627 406.627C435.656 409.599 432.128 411.956 428.246 413.564C424.363 415.172 420.202 416 416 416H217.63L339.05 294.58C347.647 287.27 358.556 283.243 369.841 283.214C381.125 283.184 392.055 287.155 400.69 294.42L448 333.84V384Z' fill='%23ced4da'/%3E%3C/svg%3E%0A");
      background-size: 40% auto;
      background-position: center center;
      background-repeat: no-repeat;

      img {
        animation: fadeProductImage 5s ease infinite;
      }
    }
  }
}

@include animation(fadeProductImage) {
  0% {
    opacity: 0;
    filter: blur(2rem) grayscale(100%);
  }

  20% {
    opacity: 1;
    filter: blur(0) grayscale(0%);
  }

  40% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}
