@import "~styles/modules/mixins.scss";

.accessibility-informationColor-visual {
  --img-border-radius: var(--border-radius-md);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;

  .tabs {
    order: 2;
    box-shadow: var(--img-container-shadow);
  }

  .imgWrapper {
    position: relative;
    overflow: hidden;
    background-color: var(--white);
    border-radius: var(--img-border-radius);
    box-shadow: var(--img-container-shadow);

    @include breakpoint(0, 799.98) {
      max-width: 80%;
      margin: 0 auto;
    }
  }

  img {
    transition: opacity 250ms ease;

    @include breakpoint(0, 799.98) {
      max-width: 100%;
    }

    @include breakpoint(800, 1199.98) {
      max-width: 40vw;
    }

    @include breakpoint(1200) {
      max-width: 80vw;
    }

    &:nth-of-type(2) {
      position: absolute;
      inset: 0;
      z-index: 2;
    }

    &[data-visible="true"] {
      opacity: 1;
    }

    &[data-visible="false"] {
      opacity: 0;
    }
  }
}
