.accessibility-informationColor-visual {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;

  .tabs {
    order: 2;
    box-shadow: var(--myqr-img-container-shadow);
  }
}

.accessibility-informationColor-img {
  border-radius: var(--img-border-radius);
  filter: var(--myqr-img-shadow);
  width: 80vw;
  max-width: 40rem;

  &.accessibility-informationColor-img-gray {
    filter: grayscale(1) var(--myqr-img-shadow);
  }
}
