@import "~styles/modules/mixins.scss";

.contentRow {
  width: var(--max-text-width);
  margin: var(--container-padding-top) auto;

  display: flex;
  align-items: center;
  justify-content: center;

  @include breakpoint(0, 799.99) {
    flex-direction: column;
    gap: 3.2rem;

    .contentRow-copy {
      order: 1;
    }

    & > div:not(.contentRow-copy) {
      order: 2;
    }
  }

  @include breakpoint(800) {
    gap: 6.4rem;
  }

  h1 {
    @include breakpoint(800) {
      position: absolute;
      top: calc(#{var(--section-padding-top)} * -1);
      margin: 0;
      transform: translate(0, -50%);
    }
  }
}
