@import "~styles/modules/mixins.scss";
@import "~styles/modules/placeholders.scss";

.landingPage {
  footer {
    background-color: var(--white);
    padding: 2.4rem;
    text-align: center;
    width: 100%;
    grid-column: 1 / 4;
    margin-top: var(--landing-padding-top);

    p {
      @extend %landing-paragraph;
      line-height: 160%;
      color: var(--text);
      margin: 0;

      &:not(.smaller) {
        font-size: 1.8rem;
      }

      a {
        --underline-color: #{var(--link-sm)};
        --arrow-pointer-color-hover: #{var(--link-sm)};
        color: var(--link-sm);
      }
    }
  }
}
