@import "~styles/modules/mixins.scss";
@import "~styles/modules/placeholders.scss";

$link-hover-gradient: linear-gradient(125deg, var(--link), var(--link-sm));

.landingPage {
  --landing-padding-top: 8vh;
  --landing-padding-sides: 6vw;

  padding-top: var(--landing-padding-top);
  // Also theme-color in index.html
  background-color: #f5f7fb;
  min-height: 100%;

  display: grid;
  grid-template-columns:
    var(--landing-padding-sides)
    minmax(calc(100% - (2 * #{var(--landing-padding-sides)})), 100%)
    var(--landing-padding-sides);
  grid-template-rows: max-content auto max-content;

  & > *:not(footer) {
    grid-column: 2;
  }

  h1 {
    @extend %landing-paragraph;
    max-width: 40ch;

    .link {
      color: var(--link);
      position: relative;
      cursor: pointer;

      .link-text {
        --underline-color: #{$link-hover-gradient};
        @extend %link-with-underline;
        pointer-events: none;
      }

      @include onHoverAndTouch {
        .link-text {
          background: $link-hover-gradient;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;

          &::after {
            opacity: 1;
          }
        }
      }

      a {
        position: absolute;
        width: 100%;
        height: 100%;
        inset: 0;
        overflow: hidden;
        opacity: 0;
        @include removeFocusOutline;

        @include onFocus {
          & + .link-text {
            background: $link-hover-gradient;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            &::after {
              opacity: 1;
            }
          }
        }
      }
    }
  }

  h1,
  dt {
    @include breakpoint(0, 859.98) {
      /* Don't go lower for h1, otherwise the links wouldn't pass contrast requirements
      (Large text = 18.66px bold, 24px regular)
      Tbh this font could be considered bold but best to be safe */
      font-size: 2.4rem;
    }

    @include breakpoint(860) {
      font-size: 2.4vw;
    }
  }

  abbr[title] {
    --underline-hover-color: var(--link);
  }
}

.projects {
  --projects-per-row: 2;
  --project-radius: 0.8rem;
  margin-top: 8vh;
  max-width: 200rem;
  display: flex;
  flex-wrap: wrap;
  gap: var(--project-gap);

  @include breakpoint(0, 859.98) {
    --project-gap: 1.6rem;
  }

  @include breakpoint(860) {
    --project-gap: 3.2rem;
  }
}

.project {
  --project-width: calc(
    (
      (100% - (#{var(--project-gap)} * (#{var(--projects-per-row)} - 1))) / #{var(
          --projects-per-row
        )}
    )
  );
  --project-padding: 1.6rem;
  position: relative;
  display: flex;
  width: var(--project-width);
  gap: var(--project-padding);
  padding: var(--project-padding);
  background: var(--white);
  border-radius: var(--project-radius);
  box-shadow: 0px 1rem 1rem 0px rgba(176, 181, 244, 0.1);
  transform: translateY(0);
  transition: transform 250ms ease;

  @include breakpoint(0, 779.98) {
    flex-direction: column;
    align-items: flex-start;
  }

  @include breakpoint(780) {
    align-items: center;
  }

  @include onHoverAndFocus {
    transform: translateY(-2.5%) !important;
  }

  & > *:not(.project-link) {
    position: relative;
    z-index: 2;
  }

  &:nth-of-type(1) {
    .project-img {
      background-color: #e0e8ff;
      background-image: url("~Main/assets/Landing/landing-projectImg1.svg");
    }
  }

  &:nth-of-type(2) {
    .project-img {
      background-color: #7fb3b1;
      background-image: url("~Main/assets/Landing/landing-projectImg2.png");
    }
  }

  &:nth-of-type(3) {
    .project-img {
      background-color: #231f20;
      background-image: url("~Main/assets/Landing/landing-projectImg3.svg");
    }
  }

  &:nth-of-type(4) {
    .project-img {
      background-image: url("~Main/assets/Landing/landing-projectImg4.jpg");
    }
  }

  dt {
    a {
      color: var(--text);

      @include onFocus {
        color: var(--link);
      }

      @include onHoverAndTouch {
        color: var(--link);
      }
    }
  }

  dd {
    margin-top: 1.2rem;
    color: var(--text-light);

    @include breakpoint(0, 859.98) {
      font-size: 1.6rem;
    }

    @include breakpoint(860) {
      font-size: 2vw;
    }
  }

  dd,
  dt {
    @extend %landing-paragraph;
  }

  .new-tab-link {
    white-space: initial;

    --arrow-bg-color: #d5cdcf;
    --arrow-pointer-color: var(--text);
    --arrow-bg-color-hover: #f8c0d8;
    --arrow-pointer-color-hover: var(--link);

    @include onHoverAndTouch {
      svg {
        path[fill="#EAF0F5"] {
          fill: var(--arrow-bg-color-hover);
        }

        .icon-arrow {
          path {
            fill: var(--arrow-pointer-color-hover);
          }
        }
      }
    }
  }
}

.project-img {
  background: #e0e8ff;
  border-radius: calc(#{var(--project-radius)} / 2);
  background-size: cover;
  background-position: center center;
  pointer-events: none;

  @include breakpoint(0, 399.98) {
    width: 100%;
    padding-bottom: 100%;
  }

  @include breakpoint(400, 539.98) {
    width: 14rem;
    height: 14rem;
  }

  @include breakpoint(540, 779.98) {
    width: 100%;
    height: 16rem;
  }

  @include breakpoint(780, 1049.98) {
    width: 8rem;
    height: 8rem;
  }

  @include breakpoint(1050) {
    width: 14rem;
    height: 14rem;
  }
}

.project-link {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  inset: 0;
  z-index: 1;
}
