@import "~styles/modules/mixins.scss";
@import "~styles/modules/placeholders.scss";

.new-tab-link {
  // TODO: find a better solution for long links
  white-space: nowrap;

  svg {
    width: 0.8em;
    height: auto;
    margin-top: -0.2em;
    margin-left: 0.2em;

    path[fill="#EAF0F5"] {
      fill: var(--arrow-bg-color);
    }

    .icon-arrow {
      transition: 0.2s transform ease;
      transform: translate(0, 0);
      will-change: transform;

      path:not([fill="#000"]) {
        fill: var(--arrow-pointer-color);
      }
    }
  }

  @include onHoverAndTouch {
    svg {
      .icon-arrow {
        transform: translate(1.2em, -1.2em);
      }
    }
  }

  @include onFocus {
    color: var(--arrow-pointer-color-hover);

    svg {
      path[fill="#EAF0F5"] {
        fill: var(--arrow-bg-color-hover);
      }

      .icon-arrow {
        transform: translate(1.2em, -1.2em);

        path {
          fill: var(--arrow-pointer-color-hover);
        }
      }
    }
  }
}
