@import "~styles/modules/mixins.scss";

$scroll-icon-height: 3.2rem;
$scroll-icon-margin-bottom: 4rem;
$scroll-icon-container-height: calc(
  #{$scroll-icon-height} + (#{$scroll-icon-margin-bottom} * 2)
);

.caseStudyPage-home {
  .myqr-logo {
    width: 40vw;
    min-width: 24rem;
    max-width: 50rem;
    height: auto;
  }

  .icon-scroll {
    width: 2rem;
    height: $scroll-icon-height;
    border: 1px solid var(--myqr-primary);
    border-radius: 1.25rem;
    position: absolute;
    bottom: $scroll-icon-margin-bottom;
    opacity: 0.5;

    &:before {
      content: "";
      display: block;
      width: 0.3rem;
      height: 0.3rem;
      background: var(--myqr-primary);
      top: 0.8rem;
      border-radius: 50%;
      animation: scroll 1.5s infinite;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .text-isFullScreen {
    padding-top: $scroll-icon-container-height;
    padding-bottom: $scroll-icon-container-height;

    &:not(footer) {
      @include breakpoint(0, 799.98) {
        min-height: 70vh;
      }
    }
  }
}

@include animation(scroll) {
  0% {
    opacity: 1;
    @include prefix(transform, translate(-50%, 0));
  }
  100% {
    opacity: 0;
    @include prefix(transform, translate(-50%, 2rem));
  }
}
