@import "~styles/modules/mixins.scss";

.img-dietaryInformation {
  .imgWrapper {
    overflow: hidden;
    background-color: var(--white);
    border-radius: var(--img-border-radius);
    box-shadow: var(--img-container-shadow);
  }
}
