.img-dietaryInformation {
  .imgWrapper {
    img {
      max-width: 60vw;
      max-height: 70vh;
      width: auto;
      height: auto;
      border-radius: var(--img-border-radius);
      filter: var(--myqr-img-shadow);
    }
  }
}
