@import "~styles/modules/mixins.scss";

.img-dietaryInformation {
  .imgWrapper {
    img {
      max-height: 70vh;
      width: auto;
      height: auto;
      border-radius: var(--img-border-radius);
      filter: var(--myqr-img-shadow);

      @include breakpoint(0, 799.98) {
        max-width: 100%;
      }

      @include breakpoint(800) {
        max-width: 60vw;
      }
    }
  }
}
