$steps: 8;

.imgContainer-sideBarFocus {
  --container-min-height: auto;
  --container-padding-top: 20vh;
  position: relative;
}

.img-sideBarFocus {
  .desktopMock-screen {
    .img-sideBarFocus-sideBar {
      transition: opacity 350ms ease-in-out;
      background-color: var(--white);
      height: 100%;
      width: auto;

      &:nth-of-type(n + 2) {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  @for $i from 1 through $steps {
    &.img-hasStepAnimation-step#{$i} {
      .img-sideBarFocus-sideBar {
        &:nth-of-type(#{$i + 1}) {
          opacity: 1;
        }
      }
    }
  }

  .keyboardArrows {
    position: absolute;
    bottom: calc(#{var(--container-padding-top)} * 0.2);
    left: 50%;
    transform: translate(-50%, 0);
  }
}
