@import "~styles/modules/mixins.scss";

.caseStudyPage {
  --text: var(--myqr-text);

  p,
  label:not(.form-label) {
    @extend %myqr-paragraph;
    color: var(--myqr-text-light);

    @include breakpoint(0, 1199.98) {
      font-size: 1.8rem;
    }

    @include breakpoint(1200) {
      font-size: 2.4rem;
    }
  }

  p {
    line-height: 180%;
  }

  h1 {
    @extend %myqr-paragraph;
  }

  h2 {
    @extend %myqr-paragraph;
    line-height: 140%;
    color: var(--myqr-text);

    @include breakpoint(0, 1199.98) {
      font-size: 2.4rem;
    }

    @include breakpoint(1200) {
      font-size: 3.2rem;
    }
  }

  h3 {
    @extend %myqr-paragraph;
    line-height: 140%;
    color: var(--myqr-primary);

    @include breakpoint(0, 1199.98) {
      font-size: 2rem;
    }

    @include breakpoint(1200) {
      font-size: 2.8rem;
    }
  }

  h5 {
    @extend %myqr-paragraph;
    font-size: 2rem;
    line-height: 180%;
    text-transform: uppercase;
    color: var(--myqr-primary);
  }

  code {
    font-family: var(--myqr-type-code);
    font-weight: var(--font-weight-medium);
    padding: 0 0.8rem;

    @include breakpoint(0, 1199.98) {
      font-size: 1.4rem;
    }

    @include breakpoint(1200) {
      font-size: 1.6rem;
    }
  }

  dd {
    @extend %myqr-paragraph;
    line-height: 180%;
    color: var(--myqr-text-light);

    @include breakpoint(0, 1199.98) {
      font-size: 2rem;
    }

    @include breakpoint(1200) {
      font-size: 2.4rem;
    }
  }

  dt {
    @extend %myqr-paragraph;
    font-size: 1.6rem;
    color: var(--myqr-text);
    font-weight: var(--font-weight-semibold);
  }

  .underline-link {
    @include onFocus {
      color: var(--myqr-primary);
    }
  }

  .new-tab-link {
    --arrow-bg-color: var(--myqr-gray-200);
    --arrow-pointer-color: var(--myqr-gray-400);
    --arrow-bg-color-hover: var(--myqr-primary-light);
    --arrow-pointer-color-hover: var(--myqr-primary);
  }

  abbr[title] {
    --underline-hover-color: var(--myqr-primary);
  }
}
