@import "typography.scss";
@import "~styles/modules/mixins.scss";
@import "~styles/modules/functions.scss";

$myqr-text: #1d1a5a;
$myqr-text-rgb: hexToRGB($myqr-text);

$myqr-primary: #3365ff;
$myqr-primary-rgb: hexToRGB($myqr-primary);
$myqr-primary-hover: darken($myqr-primary, 5%);
$myqr-primary-light: #e0e8ff;
$myqr-primary-light-rgb: hexToRGB($myqr-primary-light);

$myqr-danger: #e70853;
$myqr-danger-rgb: hexToRGB($myqr-danger);
$myqr-danger-hover: darken($myqr-danger, 5%);
$myqr-danger-light: #fee7ef;
$myqr-danger-light-rgb: hexToRGB($myqr-danger-light);

$myqr-success: #0da67b;
$myqr-success-rgb: hexToRGB($myqr-success);
$myqr-success-hover: darken($myqr-success, 5%);

:root {
  --container-padding-sides: calc((100vw - #{var(--max-text-width)}) / 2);

  // Spacing
  @include breakpoint(0, 799.99) {
    --container-padding-top: 4vw;
    --page-padding-sides: 1.6rem;
    --max-text-width: calc(100vw - (#{var(--page-padding-sides)} * 2));
  }

  @include breakpoint(800) {
    --container-padding-top: 8vw;
    --page-padding-sides: 3vw;
    --max-text-width: 110rem; /* Roughly 65ch for paragraphs */
  }

  // Colors
  --myqr-primary-light: #e0e8ff;
  --myqr-primary: #{$myqr-primary};
  --myqr-primary-hover: #{$myqr-primary-hover};
  --myqr-primary-rgb: #{$myqr-primary-rgb};
  --myqr-primary-light: #{$myqr-primary-light};
  --myqr-primary-light-rgb: #{$myqr-primary-light-rgb};

  --myqr-text: #{$myqr-text};
  --myqr-text-rgb: #{$myqr-text-rgb};
  --myqr-text-light: #4f4d7f;

  --myqr-bg-light: #f5f7fb;
  --myqr-gray-100: #f4f6f8;
  --myqr-gray-200: #eaf0f5;
  --myqr-gray-300: #99a1b3;
  --myqr-gray-400: #868d9e;

  --myqr-danger: #{$myqr-danger};
  --myqr-danger-rgb: #{$myqr-danger-rgb};
  --myqr-danger-hover: #{$myqr-danger-hover};
  --myqr-danger-light: #{$myqr-danger-light};
  --myqr-danger-light-rgb: #{$myqr-danger-light-rgb};

  --myqr-success-rgb: #{$myqr-success-rgb};
  --myqr-success-hover: #{$myqr-success-hover};

  --myqr-page-background: var(--white);

  // Focus states
  --myqr-focus-bg: #b21d91;
  --myqr-focus-shadow: 0 0 0 0.2rem rgba(178, 29, 145, 0.3);

  // Typography
  --myqr-type-paragraph: "Cabin", sans-serif;
  --myqr-type-sans-serif: "Rubik", sans-serif;
  --myqr-type-code: "Inconsolata", monospace;

  // Box shadows
  --container-shadow-sm: 0px 1rem 1rem 0px rgba(176, 181, 244, 0.1);
  --container-shadow-md: 0px 2rem 2rem 0px rgba(176, 181, 244, 0.2);
  --myqr-img-shadow: drop-shadow(31.6799px 63.5404px 76px rgba(0, 0, 0, 0.02))
    drop-shadow(16.038px 32.1673px 33.1312px rgba(0, 0, 0, 0.0135))
    drop-shadow(6.33599px 12.7081px 12.35px rgba(0, 0, 0, 0.01))
    drop-shadow(1.386px 2.77989px 4.39375px rgba(0, 0, 0, 0.0065));
  --myqr-img-container-shadow: 31.6799px 63.5404px 76px rgba(0, 0, 0, 0.02),
    16.038px 32.1673px 33.1312px rgba(0, 0, 0, 0.0135),
    6.33599px 12.7081px 12.35px rgba(0, 0, 0, 0.01),
    1.386px 2.77989px 4.39375px rgba(0, 0, 0, 0.0065);

  // Dimensions
  --myqr-header-height: 5.4rem;

  // Borders
  @include breakpoint(0, 799.99) {
    --border-radius-md: 0.4rem;
  }

  @include breakpoint(800) {
    --border-radius-md: 0.8rem;
  }
}
