@import "~styles/modules/mixins.scss";

.intro-text {
  @include breakpoint(0, 799.99) {
    padding: var(--container-padding-top) var(--page-padding-sides);
  }

  @include breakpoint(800) {
    padding: var(--container-padding-top) var(--container-padding-sides);
  }

  dl {
    display: flex;
  }

  @include breakpoint(0, 799.99) {
    dl {
      gap: 1.6rem;
    }
  }

  @include breakpoint(800) {
    display: grid;
    grid-auto-rows: minmax(min-content, max-content);
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: var(--page-padding-sides);

    dl {
      grid-area: 1 / 1 / 2 / 4;
      gap: var(--page-padding-sides);
    }

    p {
      grid-area: 1 / 4 / 2 / 13;
    }
  }
}
