@import "~styles/modules/mixins.scss";

.img-pricing {
  text-align: center;

  img {
    max-height: 100vh;
    width: auto;
    height: auto;
    background-color: var(--white);
    filter: var(--myqr-img-shadow);
    border-radius: var(--border-radius-md);

    @include breakpoint(0, 799.99) {
      max-width: var(--max-text-width);
    }

    @include breakpoint(800) {
      max-width: calc(#{var(--max-text-width)} * 0.5);
    }
  }
}

.section-pricing {
  --section-padding-top: 10rem;

  position: relative;
  margin-top: calc(#{var(--container-padding-top)} * 2);
}
