@import "~styles/modules/mixins.scss";

.img-pricing {
  text-align: center;

  img {
    background-color: var(--white);
    filter: var(--myqr-img-shadow);
    border-radius: var(--border-radius-md);

    @include breakpoint(0, 799.98) {
      width: 100%;
      max-width: 40rem;
    }

    @include breakpoint(800) {
      max-width: calc(#{var(--max-text-width)} * 0.5);
      max-height: 100vh;
      width: auto;
      height: auto;
    }
  }
}

.section-pricing {
  --section-padding-top: 10rem;

  position: relative;
  margin-top: calc(#{var(--container-padding-top)} * 2);
}
