@import "~styles/modules/mixins.scss";

.section-pricing {
  --section-padding-top: 10rem;
  --img-border-radius: var(--border-radius-md);

  position: relative;
  margin-top: calc(#{var(--container-padding-top)} * 2);
}

.img-pricing {
  width: 100%;
  overflow: hidden;
  background-color: var(--white);
  border-radius: var(--img-border-radius);
  box-shadow: var(--img-container-shadow);

  @include breakpoint(0, 799.98) {
    order: 2;
    max-width: 40rem;
  }

  @include breakpoint(800) {
    min-width: calc(#{var(--max-text-width)} * 0.5);
  }

  img {
    width: 100%;
    height: auto;
  }
}
