@import "~styles/modules/mixins.scss";
@import "~CaseStudy/styles/placeholders.scss";

.resources-list {
  padding: var(--container-padding-top) var(--container-padding-sides);

  ul {
    list-style-type: none;
    padding-left: 0;
  }

  li {
    @extend %myqr-paragraph;
    line-height: 180%;
    font-weight: var(--font-weight-semibold);
    color: var(--myqr-text);

    @include breakpoint(0, 799.99) {
      font-size: 1.8rem;
    }

    @include breakpoint(800) {
      font-size: 2.4rem;
    }
  }

  .underline-link {
    border-bottom-width: 0;
    white-space: initial;
  }
}
