$panel-transition-duration: 400ms;

.imgContainer-menus {
  .desktopMock-screen {
    background-color: var(--white);
  }
}

.img-menuPanel {
  width: 100%;
  background-color: var(--white);

  img {
    transition: all $panel-transition-duration ease-in;

    &:nth-of-type(n + 2) {
      position: absolute;
    }

    // Spacer
    &:nth-of-type(2) {
      z-index: 1;
      height: 100%;
      width: auto;
      top: 0;
      left: 50%;
      aspect-ratio: 582 / 620;
    }

    // Panel
    &:nth-of-type(3) {
      z-index: 2;
      height: 100%;
      width: auto;
      top: 0;
      left: 100%;
      aspect-ratio: 440 / 892.09;
    }

    // Back button
    &:nth-of-type(4) {
      z-index: 4;
      height: 100%;
      width: auto;
      left: 0;
      top: 0;
      aspect-ratio: 179 / 894;
    }

    // Actions
    &:nth-of-type(5) {
      z-index: 5;
      height: 100%;
      width: auto;
      right: 0;
      top: 0;
      aspect-ratio: 713 / 894;
    }
  }

  &.img-menuPanel-isHidden {
    img {
      // Menu
      &:nth-of-type(2) {
        transform: translateX(-50%);
      }

      // // Panel
      &:nth-of-type(3) {
        transform: translateX(-9%);
      }

      // Actions
      &:nth-of-type(5) {
        transform: translateX(0);
      }
    }
  }

  &.img-menuPanel-isExpanded {
    img {
      // Menu
      &:nth-of-type(2) {
        transform: translateX(-76%);
      }

      // Panel
      &:nth-of-type(3) {
        transform: translateX(-100%);
      }

      // Actions
      &:nth-of-type(5) {
        transform: translateX(-57%);
      }
    }
  }
}

.img-customisation {
  img {
    transition: all $panel-transition-duration ease-in;

    &:nth-of-type(2) {
      position: absolute;
      width: 100%;
      height: auto;
      inset: 0;
    }
  }

  &.img-hasStepAnimation-step2 {
    img:nth-of-type(2) {
      filter: hue-rotate(45deg);
    }
  }

  &.img-hasStepAnimation-step3 {
    img:nth-of-type(2) {
      filter: hue-rotate(90deg);
    }
  }
}
