@import "~styles/modules/mixins.scss";

.imgContainer-itemReordering {
  --img-border-radius: var(--border-radius-md);

  @include breakpoint(0, 799.99) {
    --img-padding: 0.4rem;
  }

  @include breakpoint(800) {
    --img-padding: 1.6rem;
  }

  .img-hasStepAnimation {
    display: grid;
    align-content: center;

    @include breakpoint(800) {
      // Prevent jumping in between visuals by making the container as tall as the tallest visual
      min-height: calc(496px + (#{var(--img-padding)} * 2));
    }
  }
}
