.caseStudyPage-userFlows {
  // background-color: var(--myqr-primary-light);
  position: relative;

  .text-isFullScreen {
    background-color: rgba(255, 255, 255, 0.3);
  }

  .caseStudyPage-sectionId {
    color: var(--myqr-primary);
  }
}
