.paragraph {
  padding: var(--container-padding-top) var(--container-padding-sides);

  h2 {
    width: var(--max-text-width);
  }

  & > h2,
  & > p {
    margin-left: auto;
    margin-right: auto;
  }
}
