@import "~styles/modules/mixins.scss";

#buttonsForm {
  @include breakpoint(0, 1339.98) {
    .checkbox-container {
      order: 1;
    }

    fieldset {
      // Reorder radio buttons so they're equally distributed between columns
      &:nth-of-type(1) {
        order: 4;
      }

      &:nth-of-type(2) {
        order: 3;
      }

      &:nth-of-type(3) {
        order: 2;
      }

      &:nth-of-type(4) {
        order: 5;
      }
    }
  }
}

.imgSlider > *:not(.imgSlider-button):not(.screenReaderText) {
  position: relative;
  z-index: 2;
}

.imgSlider-button {
  text-align: center;
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  transition: all 500ms ease-in-out;

  @include breakpoint(0, 1339.98) {
    z-index: 10;
  }

  @include breakpoint(0, 799.98) {
    --button-width: 4rem;
  }

  @include breakpoint(800) {
    --button-width: 6.4rem;
  }

  @include breakpoint(1340) {
    z-index: 1;
    position: absolute;
    width: 30vw;
    height: 100%;
    padding: 0;
  }

  @include removeFocusOutline;

  @include onHoverAndFocus {
    .imgSlider-button-text {
      opacity: 1;
    }

    path {
      fill: var(--myqr-text-light);
    }

    circle {
      &:not([stroke="#fff"]) {
        stroke-dashoffset: var(--progress-dashoffset-max);
      }
    }
  }

  .imgSlider-button-text {
    position: absolute;
    z-index: 3;
    color: var(--myqr-primary);
    top: 50%;
    font-family: var(--myqr-type-paragraph);
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    transition: inherit;
    opacity: 0;

    @include breakpoint(0, 1339.98) {
      display: none;
    }
  }

  svg {
    width: var(--button-width);
    height: var(--button-width);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
    transform-origin: 50% 50%;
    transition: inherit;

    @include breakpoint(1340) {
      position: absolute;
    }

    path {
      transition: inherit;
      fill: var(--myqr-primary);
    }

    circle {
      transition: inherit;

      &:not([stroke="#fff"]) {
        stroke: var(--myqr-primary);
        stroke-dashoffset: var(--progress-dashoffset-min);
      }
    }
  }

  &.imgSlider-button-isPrev {
    @include breakpoint(0, 1339.98) {
      margin-right: calc(#{var(--img-container-gap)} * -2);
    }

    @include breakpoint(1340) {
      left: 0;
    }

    .imgSlider-button-text {
      left: 0;
      transform: translate(0, -50%);
    }

    svg {
      @include breakpoint(0, 1339.98) {
        transform: rotate(180deg);
      }

      @include breakpoint(1340) {
        left: 0;
        transform: rotate(180deg) translateY(50%);
      }
    }

    @include onHoverAndFocus {
      .imgSlider-button-text {
        transform: translate(calc(#{var(--button-width)} + 0.8rem), -50%);
      }
    }
  }

  &.imgSlider-button-isNext {
    @include breakpoint(0, 1339.98) {
      margin-left: calc(#{var(--img-container-gap)} * -2);
    }

    @include breakpoint(1340) {
      right: 0;
    }

    .imgSlider-button-text {
      right: 0;
      transform: translate(0, -50%);
    }

    svg {
      @include breakpoint(1340) {
        right: 0;
        transform: translateY(-50%);
      }
    }

    @include onHoverAndFocus {
      .imgSlider-button-text {
        transform: translate(
          calc((#{var(--button-width)} + 0.8rem) * -1),
          -50%
        );
      }
    }
  }
}

.caseStudyPage-bg[data-theme="light"],
.caseStudyPage-bg[data-theme="none"] {
  @include breakpoint(0, 1339.98) {
    & ~ .caseStudyPage .imgSlider-button {
      svg {
        circle {
          &[stroke="#fff"] {
            stroke: var(--myqr-primary);
            fill: var(--white);
          }
        }
      }
    }
  }
}

.caseStudyPage-bg[data-theme="dark"] {
  @include breakpoint(0, 1339.98) {
    & ~ .caseStudyPage .imgSlider-button {
      svg {
        circle {
          &[stroke="#fff"] {
            fill: rgba(var(--myqr-text-rgb), 0.9);
          }
        }
      }
    }
  }
}
