@import "~styles/modules/mixins.scss";

.keyboardArrows {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  width: calc((#{var(--arrow-key-width)} * 3) + 8px * 2);

  @include breakpoint(0, 799.99) {
    --arrow-key-width: 6.4rem;
  }

  @include breakpoint(800) {
    --arrow-key-width: 10rem;
  }
}

.keyboardArrow {
  background-color: var(--white);
  border: 1.5px solid var(--myqr-text-light);
  box-shadow: 0px 3px 0px var(--myqr-text-light);
  width: var(--arrow-key-width);
  height: calc(#{var(--arrow-key-width)} / 2);
  position: relative;

  @include breakpoint(0, 799.99) {
    border-radius: 0.8rem;
  }

  @include breakpoint(800) {
    border-radius: 1.2rem;
  }

  &::after {
    position: absolute;
    content: "";
    display: block;
    inset: 0;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg width='17' height='11' viewBox='0 0 17 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.7803 8.87596L9.30129 1.31513C9.19686 1.19332 9.06731 1.09555 8.92154 1.02851C8.77577 0.961478 8.61722 0.92677 8.45677 0.92677C8.29632 0.92677 8.13778 0.961478 7.992 1.02851C7.84623 1.09555 7.71668 1.19332 7.61225 1.31513L1.13326 8.87596C0.514934 9.59765 1.02758 10.7124 1.97778 10.7124L14.9376 10.7124C15.8878 10.7124 16.4005 9.59765 15.7803 8.87596Z' fill='%234F4D7F'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: calc(#{var(--arrow-key-width)} / 5) auto;
    background-position: center center;
  }

  &.keyboardArrow-top {
    grid-area: 1 / 2 / 2 / 3;
  }

  &.keyboardArrow-right {
    grid-area: 2 / 3 / 3 / 4;
    &::after {
      transform: rotate(90deg);
    }
  }

  &.keyboardArrow-bottom {
    grid-area: 2 / 2 / 3 / 3;
    &::after {
      transform: rotate(180deg);
    }
  }

  &.keyboardArrow-left {
    grid-area: 2 / 1 / 3 / 2;
    &::after {
      transform: rotate(-90deg);
    }
  }

  &.keyboardArrow-isPressed {
    background-color: var(--myqr-primary-light);
    box-shadow: 0px 2px 0px var(--myqr-text-light);
    transform: translateY(1px);
  }

  @include removeFocusOutline;

  @include onKeyboardFocus {
    box-shadow: 0px 2px 0px var(--myqr-primary),
      0 0 0 0.4rem rgba(#{var(--myqr-primary-rgb)}, 0.1);
    border-color: var(--myqr-primary);

    &::after {
      background-image: url("data:image/svg+xml,%3Csvg width='17' height='11' viewBox='0 0 17 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.7803 8.87596L9.30129 1.31513C9.19686 1.19332 9.06731 1.09555 8.92154 1.02851C8.77577 0.961478 8.61722 0.92677 8.45677 0.92677C8.29632 0.92677 8.13778 0.961478 7.992 1.02851C7.84623 1.09555 7.71668 1.19332 7.61225 1.31513L1.13326 8.87596C0.514934 9.59765 1.02758 10.7124 1.97778 10.7124L14.9376 10.7124C15.8878 10.7124 16.4005 9.59765 15.7803 8.87596Z' fill='%233365ff'/%3E%3C/svg%3E%0A");
    }
  }
}
